@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(139, 92, 246, 0.15),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(34, 211, 238, 0.12),
      transparent 35%
    ),
    #020617;

  color: var(--foreground);
}